.button-select{
  border: none;
  color: var(--white-color);
  height: 24px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  transition-duration: 0.3s;
}
.button-outlined{
  color: var(--gray-text-color);
  border: 1px solid var(--gray-border-color);
  background-color: var(--white-color);
}
.button-outlined:hover{
  color: var(--white-color);
}
.button-contained{
  background-color: var(--blue-medium-color);
}
.button-select:hover {
  background-color: var(--blue-light-color);
}
.button-outlined-selected{
  background-color: var(--blue-light-color);
}
.is-selected{
  background-color: var(--blue-light-color);
  color: var(--white-color);
}