.info-display-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-border-color); 
  border-radius: 2px; 
}

.info-display-content > h1{
  margin: 16px;
}

.info-content{
  height: 100%;
}