.content-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  height: 100vh;
  overflow: hidden; 
}

@media (max-width: 700px) {
  .content-page {
    flex-direction: column;
    overflow: auto
  }
}