* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  }
  
  :root {
    --white-color: #FFF;
    --gray-bg-color: #E3EAEF;
    --gray-border-color: #D0D7DE;
    --blue-dark-color: #17192D;
    --blue-light-color: #2188FF;
    --blue-medium-color: #023B78;
    --green-color: #52C41A;
    --red-color: #ED3833;
    --blue-text-color: #17192D;
    --gray-text-color: #77818C;
  }

html,body {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #E3EAEF;
}

#root {
  height: 100%;
}