.tree-view-content{
  display: flex;
  flex-direction: column;
  width: 675px;
  height: 100%;
  border: 1px solid var(--gray-border-color); 
  border-radius: 2px ;
  overflow: auto;
}
.tree-view-input{
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-border-color); 
  border-radius: 2px;
  padding-right: 16px;
  height: 45px
}

input{
  width: 100%;
  padding: 10px;
  border:none;
  outline:none
}

input::placeholder {
  font-size: 14px;
}

.tree-view{
  margin: 8px 0px 16px 16px;
  height: 100%;
}